.loader{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px dashed teal;
	animation: rotate 1s infinite liner;
}

@keyframes rotate{
	from{
		fransform: rotate(0deg) scale(1);
	}
	to{
		fransform: rotate(360deg) scale(1.4);
	}
}